body {
  font-family: 'Hind', sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
  color: #9655c5;
}

.header {
  width: 100%;
}

.header:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  animation: borderwidth .5s forwards;
}

@keyframes borderwidth {
  from {
    width: 0px;
    background-color: transparent;
  }
  to {
    width: 100%;
    background-color: #9655c5;
  }
}
