{% include head.html %}
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <a class="extra" href="{{ site.baseurl }}/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{site.github_username}}">github.com/{{site.github_username}}</a><br />
                <a href="https://twitter.com/{{site.twitter_username}}">twitter.com/{{site.twitter_username}}</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
